<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/eventos.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">
                            <i class="bi bi-person-fill me-2"></i>Usuario
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar bg-dark text-light">
            <div class="logo p-3 text-center">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="img-fluid">
            </div>
            <nav class="nav flex-column p-3">
                <a href="{{ url_for('home') }}" class="nav-link text-light d-flex align-items-center">
                    <i class="bi bi-house-door-fill me-2"></i> Home
                </a>
                <a href="{{ url_for('gestionmaterias') }}" class="nav-link text-light d-flex align-items-center">
                    <i class="bi bi-book-fill me-2"></i> Materias
                </a>
                <a href="eventos.html" class="nav-link text-light d-flex align-items-center">
                    <i class="bi bi-calendar-event-fill me-2"></i> Eventos
                </a>
                <a href="tareas.html" class="nav-link text-light d-flex align-items-center">
                    <i class="bi bi-card-checklist me-2"></i> Tareas
                </a>
            </nav>
        </div>
        
        <div class="main-content flex-grow-1">
            <div class="half-background">
                <div class="styled-box">
                    <h1>Eventos</h1>
                    
                    <p> En esta sección puedes ver todos los eventos proximos a definir</p>
                
                    </div>
                
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Materia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Segundo parcial</td>
                                <td>20/07</td>
                                <td>Examen presencial </td>
                                <td>Analisis II</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Recuperatorio</td>
                                <td>22/07</td>
                                <td>Examen recuperatorio de segundo parcial</td>
                                <td>Algoritmos</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Final</td>
                                <td>24/07</td>
                                <td>Examen final de la materia presencial</td>
                                <td>Introduccion al software</td>
                            </tr>
                         
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="footer bg-dark text-light text-center py-3 mt-auto">
        <div class="container">
            <p>&copy; 2024 Pomodoro Team. Todos los derechos reservados.</p>
            <div class="social-icons">
                <a href="#" class="text-light mx-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>