<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Materia - Pomodoro Team</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='materia.css') }}">
</head>
<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar bg-dark text-light">
            <div class="logo p-3 text-center">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="img-fluid">
            </div>
            <nav class="nav flex-column p-3">
                <a href="{{ url_for('home') }}" class="nav-link text-light d-flex align-items-center">
                    <i class="bi bi-house-door-fill me-2"></i> Home
                </a>
                <a href="{{ url_for('gestionmaterias') }}" class="nav-link text-light d-flex align-items-center">
                    <i class="bi bi-book-fill me-2"></i> Materias
                </a>
                <a href="eventos.html" class="nav-link text-light d-flex align-items-center">
                    <i class="bi bi-calendar-event-fill me-2"></i> Eventos
                </a>
                <a href="tareas.html" class="nav-link text-light d-flex align-items-center">
                    <i class="bi bi-card-checklist me-2"></i> Tareas
                </a>
            </nav>
        </div>
        
        <!-- Main content -->
        <div class="main-content flex-grow-1 d-flex flex-column align-items-center">
            <div class="half-background" style="max-width: 5000px;">
                <div class="container">
                    <div class="header d-flex justify-content-between align-items-center">
                        <h1>{{ materia['nombre'] }}</h1>
                        <a href="{{ url_for('gestionmaterias') }}" class="btn btn-warning back-button"><i class="bi bi-arrow-left-circle"></i> Volver a Materias</a>
                    </div>
                    <div class="details d-flex justify-content-center align-items-center">
                        <div class="info me-3">
                            <h2>Horario:</h2>
                            <p>{{ materia['horario'] }}</p>
                            <h2>Calificaciones:</h2>
                            <p>{{ materia['calificaciones'] }}</p>
                        </div>
                        <div class="actions">
                            <a href="{{ url_for('editar_materia', nombre=materia['nombre']) }}" class="btn btn-success btn-edit"><i class="bi bi-pencil"></i>Editar Materia</a>
                            <form action="{{ url_for('eliminar_materia', nombre=materia['nombre']) }}" method="post" class="mt-3">
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar Materia</button>
                            </form>
                        </div>
                    </div>
                    <div class="tareas-section container mt-3" style="max-width: 4500px;">
                        <h2>Tareas</h2>
                        <form id="tareaForm" class="row g-3 mb-4" method="post">
                            <div class="col-md-3">
                                <label for="tarea" class="form-label">Nombre Tarea</label>
                                <input type="text" class="form-control" id="tarea" name="tarea" placeholder="Nombra tu tarea aquí..." required>
                            </div>
                            <div class="col-md-4">
                                <label for="descripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción de la tarea">
                            </div>
                            <div class="col-md-3">
                                <label for="fecha_limite" class="form-label">Fecha Límite</label>
                                <input type="date" class="form-control" id="fecha_limite" name="fecha_limite" required>
                            </div>
                            <div class="col-md-2 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary w-600"><i class="bi bi-plus-circle"></i> Añadir Tarea</button>
                            </div>
                        </form>
                        <ul class="list-group tareas-list w-100" id="tareasList">
                            {% for tarea in materia['tareas'] %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>{{ tarea['nombre'] }}</strong>
                                    <p>{{ tarea['descripcion'] }}</p>
                                    <small>Fecha Límite: {{ tarea['fecha_limite'] }}</small>
                                </div>
                                <form method="post" action="{{ url_for('eliminar_tarea', nombre=materia['nombre'], tarea_id=loop.index0) }}">
                                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="eventos-section container mt-3" style="max-width: 4500px;">
                        <h2>Eventos</h2>
                        <form id="eventoForm" class="row g-3 mb-4" method="post">
                            <div class="col-md-3">
                                <label for="evento" class="form-label">Nombre Evento</label>
                                <input type="text" class="form-control" id="evento" name="evento" placeholder="Nombra tu evento aquí..." required>
                            </div>
                            <div class="col-md-4">
                                <label for="descripcion_evento" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="descripcion_evento" name="descripcion_evento" placeholder="Descripción del evento">
                            </div>
                            <div class="col-md-3">
                                <label for="fecha_evento" class="form-label">Fecha</label>
                                <input type="date" class="form-control" id="fecha_evento" name="fecha_evento" required>
                            </div>
                            <div class="col-md-2 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary w-600"><i class="bi bi-plus-circle"></i> Añadir Evento</button>
                            </div>
                        </form>
                        <ul class="list-group eventos-list w-100" id="eventosList">
                            {% for evento in materia['eventos'] %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>{{ evento['nombre'] }}</strong>
                                    <p>{{ evento['descripcion'] }}</p>
                                    <small>Fecha: {{ evento['fecha'] }}</small>
                                </div>
                                <form method="post" action="{{ url_for('eliminar_evento', nombre=materia['nombre'], evento_id=loop.index0) }}">
                                    <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-dark text-light text-center py-3 mt-auto">
        <div class="container-footer">
            <p>&copy; 2024 Pomodoro Team. Todos los derechos reservados.</p>
            <div class="social-icons">
                <a href="#" class="text-light mx-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-light mx-2"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const deleteTaskButtons = document.querySelectorAll('.btn-danger');
            
            deleteTaskButtons.forEach(button => {
                button.addEventListener('click', (event) => {
                    event.preventDefault();
                    const form = button.closest('form');
                    if (confirm('¿Estás seguro de que deseas eliminar esta tarea?')) {
                        form.submit();
                    }
                });
            });
        });
    </script>
</body>
</html>

